*.o
*.swp
*.run
*.cpu
*.gpu
*.out
/build/
/data.tmp/
/rodinia_3.1.tar.bz2
/rodinia_3.1/
/data
/tmp/
/.idea/
/cuda/backprop/backprop
/cuda/bfs/bfs
/cuda/heartwall/heartwall
/cuda/hotspot/hotspot
/cuda/needle/needle
/cuda/nn/nn
/cuda/pathfinder/pathfinder
/cuda/srad_v1/srad
/cuda/srad_v2/srad2
/cuda/gaussian/Makefile_enccuda
/test-gdev/cuda/user/madd/Makefile.fvp_enc
/cuda/gaussian/devmem_intercept
/test-gdev/cuda/user/madd/install_enc_cuda/
/cuda_enc/backprop/backprop
/cuda_enc/bfs/bfs
/cuda_enc/heartwall/heartwall
/cuda_enc/hotspot/hotspot
/cuda_enc/lud/cuda/lud
/cuda_enc/needle/needle
/cuda_enc/pathfinder/pathfinder
/cuda_enc/srad_v1/srad
/cuda_enc/srad_v2/srad2
/cuda_enc/23-05-01-cuda-x86-run_4.txt
/cuda_enc/23-05-01-cuda-x86-run_5.txt
/cuda_enc/capture-cuda_no_enc.txt
/cuda_x86/23-05-01-cuda-x86-run_enc_bean_1.txt
/cuda_x86/23-05-01-cuda-x86-run_enc_bean_2.txt
/cuda_x86/srad_v2/srad_cuda.mod.c
