*.o
*.swp
*.run
*.cpu
*.gpu
*.out
/build/
/data.tmp/
/rodinia_3.1.tar.bz2
/rodinia_3.1/
/data
/tmp/
/.idea/
/cuda/backprop/backprop
/cuda/bfs/bfs
/cuda/heartwall/heartwall
/cuda/hotspot/hotspot
/cuda/needle/needle
/cuda/nn/nn
/cuda/pathfinder/pathfinder
/cuda/srad_v1/srad
/cuda/srad_v2/srad2
/cuda/gaussian/Makefile_enccuda
/test-gdev/cuda/user/madd/Makefile.fvp_enc
